@model IEnumerable<Image.EF.Concrete.Images>

<base target="_blank" href="http://192.168.155.1/" />

@{
    ViewBag.Title = "ShowImage";
}

<style>
    div {
        width: 150px;
        height: 150px;
        float: left;
    }

    img {
        float:left;
    }
</style>

<div>

    @foreach (var item in Model)
    {

        <img src="@item.Path" alt="@item.Name" />
    
    }
</div>
