

@{
    ViewBag.Title = "TestIndex";
    Layout = null;
}

<h2>TestIndex</h2>


<h2>TestMenu</h2>

@foreach (var item in Image.WebUI.Models.Home.HomeIndexModel.PageImage.GetPagingData())
{
    <p>ID:@item.Id Name:@item.Name</p>
}

@{ 
    int curPage = Image.WebUI.Models.Home.HomeIndexModel.PageImage.PageIndex;
    int nextPage = curPage + 1;
    int prevPage = curPage - 1;

    int folderId = Image.WebUI.Models.Home.HomeIndexModel.FolderId;
    int folderPage;

    if (Image.WebUI.Models.Home.HomeIndexModel.PageFolder!=null)
    {
        folderPage = Image.WebUI.Models.Home.HomeIndexModel.PageFolder.PageIndex;
    }
    else
    {
        folderPage = 1;
    }

}
<p>
    @if (Image.WebUI.Models.Home.HomeIndexModel.PageImage.HasPrev)
    {
        
        <a href="@Url.Action("TestIndex", "Home", 
                new { folderPage = folderPage, folderId =folderId, imagePage = prevPage})">上一页</a>
          
    }
    else
    {
        <em style="color:Gray">上一页</em>
    }
    @if (Image.WebUI.Models.Home.HomeIndexModel.PageImage.HasNext)
    {
        <a href="@Url.Action("TestIndex", "Home", 
                new { folderPage = folderPage, folderId =folderId, imagePage = nextPage})">下一页</a>
    }
    else
    {
        <em style="color:Gray">下一页</em>
    }
</p>

