@model SSLS.WebUI.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Reader.cshtml";
}

<style>
    .changePassword{
        width:300px;
        margin:150px auto 200px auto;
    }
    .changePassword input{
        width:300px;
        margin:10px auto;
    }
    .changePassword button{
        width:100px;
        margin-left:100px;
    }
</style>


<div class="changePassword">
    @using (Html.BeginForm("ChangePassword", "Reader"))
    {
        @Html.Hidden("readerId",Model.readerId);
        @Html.PasswordFor(Model=>Model.oldPassword, new { @class = "form-control", placeholder = "请输入旧密码" })
        @Html.PasswordFor(Model => Model.newPassword, new { @class = "form-control", placeholder = "请输入新密码" })
        <button class="btn btn-default" type="submit" value="确认修改">确认修改</button>
    }
</div>

