<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="server=(local);database=sql_1; Integrated Security=SSPI;Persist Security Info=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--<connectionStrings>
    <add name="ConnectionString" connectionString="server=jf05-90;database=bookdb;Integrated Security=SSPI;Persist Security Info=False"
     providerName="System.Data.SqlClient" />
  </connectionStrings>-->



  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>