.page {
    /*margin: 0px 0px 0px 0px;*/
    margin-bottom:0px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

    .page a {
        background-color: transparent;
        border: 1px solid #0f0f16;
        color: #242526;
    }

        .page a:hover, .page a.active {
            background-color: #0f0f16;
            border: 1px solid #0f0f16;
            color: #FFFFFF;
        }

    .page a {
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        transition: all 0.3s ease 0s;
        font-size: 18px;
        line-height: 20px;
        border-radius: 0px;
        margin: 0px 0px 0px 0px;
        padding: 8px;
        vertical-align: baseline;
        white-space: nowrap;
        width: 37px;
        height: 37px;
    }
