@using Image.WebUI.Models
@using Image.EF.Concrete;

@model Image.WebUI.Models.Nav.TestMenuModel

@{
    Layout = null;
    ViewBag.Title = "TestMenu";
}

<h2>TestMenu</h2>

@foreach (var item in Model.PageFolder.GetPagingData())
{
    <p>ID:@item.Id Name:@item.Name</p>
}

@{
    int curPage = int.Parse(ViewBag.FolderPage.ToString());
    string nextPage = (curPage + 1).ToString();
    string prevPage = (curPage - 1).ToString();
}

<p>
    @if (Model.PageFolder.HasPrev)
    {
        @*<a href="@Url.Action("TestIndex", "Home", new { folderPage = Model.PageFolder.PageIndex - 1 })">上一页</a>*@
        <a href="@Url.Action("TestIndex", "Home",
                new { folderPage = prevPage, folderId = ViewBag.FolderId, imagePage = ViewBag.ImagePage})">上一页</a>

    }
    else
    {
        <em style="color:Gray">上一页</em>
    }
    @if (Model.PageFolder.HasNext)
    {
        @*<a href="@Url.Action("TestIndex", "Home", new { folderPage = Model.PageFolder.PageIndex + 1 })">下一页</a>*@
        <a href="@Url.Action("TestIndex", "Home",
                new { folderPage =nextPage, folderId = ViewBag.FolderId, imagePage =ViewBag.ImagePage})">下一页</a>
    }
    else
    {
        <em style="color:Gray">下一页</em>
    }
</p>
